<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>
    
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    
</head>
<body>
	<h1 th:text="  ${message} + ' App'"> </h1>
    <h2>Page in design State</h2>
    <p>
        This is text on which we want to apply <strong>very special</strong> styling.
    </p>
    <script type="text/javascript" th:src="@{/js/demo.js}"></script>
    <button type="button" th:onclick="showAlert()">Show Alert</button>
    
    
</body>
</html>